<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Categories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <style>
    </style>

</head>
<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
            <img src="../../static/img/logo.png" th:src="@{/img/logo.png}"
                 width="38" height="30" class="me-3" alt="Bootstrap">
            TaskHive
        </h1>
        <div class="collapse navbar-collapse navbar-options">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/}">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="#" th:href="@{/admin/user}">Users</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" href="#" aria-current="page"  th:href="@{/admin/category}">Categories</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="#" th:href="@{/admin/task}">Tasks</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="#" th:href="@{/task}">User Tasks</a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <th-block th:with="auth=${#authentication.getPrincipal()}">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false" th:text="${auth.fullname ?: 'User'}">User</a>
                    </th-block>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown03">
                        <li>
                            <form style="display:none" th:action="@{/logout}" method="POST" id="logoutForm"></form>
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="#" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card rounded-3">
                    <div class="card-body p-4">
                        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
                              action="#" th:action="@{/admin/category/submit}" method="POST" th:object="${newCategory}">
                            <h3>Create new category</h3>
                            <div class="col-12">
                                <div class="form-outline">
                                    <label class="form-label" for="task-title">Category title</label>
                                    <div class="input-group has-validation">
                                        <input type="text" id="task-title" class="form-control"
                                               th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : 'is-valid'"
                                               th:field="*{title}" aria-describedby="validation-title" required/>
                                        <div id="validation-title" class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" style="margin-top: 10px;">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Save</button>
                            </div>
                        </form>

                        <table class="table mb-4">
                            <thead>
                            <tr>
                                <th scope="col">Id.</th>
                                <th scope="col">Title</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category : ${categoryList}">
                                <th scope="row" th:text="${category.id}">1</th>
                                <td th:text="${category.title}">Main</td>
                                <td>
                                    <a class="btn btn-danger" th:onclick="|deleteCategory(${category.id})|"
                                       th:classappend="${category.id} == 1 ? 'disabled'">Delete</a>
                                    <form style="display:none" th:action="@{/admin/category/{id}/del(id=${category.id})}" method="post" th:id="${'delete-category-'+category.id}"></form>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
        <span class="text-muted">TaskHive - Openwebinars.net - Luis Miguel López Magaña</span>
    </div>
</footer>
<script>
    function deleteCategory(id) {
      if (confirm('Are you sure to delete this Category? All related task will be reassigned to Main category')) {
        document.getElementById('delete-category-'+id).submit();
      }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>