<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <style>
        .container {
          max-width: 900px;
        }

        .form-select {
          margin-top: 8px;
        }

    </style>

</head>
<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
            <img src="../static/img/logo.png" th:src="@{/img/logo.png}"
                 width="38" height="30" class="me-3" alt="Bootstrap">
            TaskHive
        </h1>
        <div class="collapse navbar-collapse navbar-options">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" href="#" aria-current="page"  th:href="@{/task}">Tasks</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="#" th:href="@{/admin/}">Admin</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <th-block th:with="auth=${#authentication.getPrincipal()}">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false" th:text="${auth.fullname ?: 'User'}">User</a>
                    </th-block>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown03">
                        <li>
                            <form style="display:none" th:action="@{/logout}" method="POST" id="logoutForm"></form>
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="#" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
                              action="#" th:action="@{/task/submit}" method="POST" th:object="${newTask}" sec:authorize="hasRole('ROLE_USER')">
                            <h3>Create new task</h3>
                            <div class="col-12">
                                <div class="form-outline">
                                    <label class="form-label" for="task-title">Task title</label>
                                    <div class="input-group has-validation">
                                        <input type="text" id="task-title" class="form-control"
                                               th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : 'is-valid'"
                                               th:field="*{title}" aria-describedby="validation-title" required/>
                                        <div id="validation-title" class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-outline">
                                        <label class="form-label" for="task-desc">Description</label>
                                        <textarea class="form-control" id="task-desc" rows="3" placeholder="Optional..." th:field="*{description}"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="category">Category</label>
                                    <div class="input-group has-validation">
                                        <select id="category" th:field="*{categoryId}" class="form-select"
                                                th:classappend="${#fields.hasErrors('categoryId')} ? 'is-invalid' : 'is-valid'"
                                                aria-describedby="validation-categoryid">
                                            <option value="-1">---</option>
                                            <option th:each="category : ${categories}"
                                                    th:value="${category.id}" th:text="${category.title}">
                                                Category</option>
                                        </select>
                                        <div id="validation-categoryid" class="invalid-feedback" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" for="task-tags">Tags</label>
                                    <input type="text" id="task-tags" class="form-control" th:field="*{tags}" placeholder="tag1, tag2, tag3, ..."/>
                                </div>
                            </div>

                            <div class="col-12" style="margin-top: 10px;">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Save</button>
                            </div>
                        </form>


                        <div class="container" style="margin-top: 50px;" th:if="${param.emptyListError != null}">
                            <h1 class="text-center" sec:authorize="hasRole('ROLE_USER')">Create your first task...</h1>
                            <img src="../static/img/empty_list.png" th:src="@{/img/empty_list.png}"
                                 width="100%"/>
                        </div>


                        <table class="table mb-4" th:if="${param.emptyListError == null}">
                            <thead>
                            <tr>
                                <th scope="col">Id.</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task : ${taskList}" th:classappend="${task.completed} ? 'table-success'">
                                <th scope="row" th:text="${task.id}">1</th>
                                <td th:text="${task.title}">Buy groceries for next week</td>
                                <td th:text="${#strings.abbreviate(task.description,50)}">Lorem ipsum dolor sit amet </td>
                                <td>
                                    <a href="#" th:href="@{/task/{id}(id=${task.id})}" class="btn btn-primary">View</a>
                                    <a class="btn btn-danger" th:onclick="|deleteTask(${task.id})|">Delete</a>
                                    <form style="display:none" th:action="@{/task/{id}/del(id=${task.id})}" method="post" th:id="${'delete-task-'+task.id}"></form>
                                    <a href="#" th:href="@{/task/{id}/toggle(id=${task.id})}" class="btn ms-1"
                                       th:classappend="${task.completed} ? 'btn-light' : 'btn-dark'"
                                       th:text="${task.completed ? 'Disable' : 'Complete'}">Complete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
        <span class="text-muted">TaskHive - Openwebinars.net - Luis Miguel López Magaña</span>
    </div>
</footer>
<script>
    function deleteTask(id) {
      if (confirm('Are you sure to delete this Task?')) {
        document.getElementById('delete-task-'+id).submit();
      }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>